
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url(AluraI/t6.jpg);
    
}
header {
    width: 100%;
    height: 50px;
 
}

main {
 width: 100%;
    display: flex;
    justify-content:space-between;
}

section {
    width: 600px;
    height: 650px;

}
.section1{
    width: 70%;
}
.area{
    width: 80%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 20px;
    resize: none;
    font-size: 30px;
    font-family: poppins;
    text-align: center;
    padding: 10px;
    
}
.btn-encriptar{

    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #ffff;

}

.btn-descriptar{
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #ffff;
    transition: all 0.6s ease;
    z-index: 1;

}

.btn-encriptar:hover,
.btn-descriptar:hover {
color: goldenrod;

    }

.btn-encriptar,.btn-descriptar{
width: 25%;
height: 40px;
}


.contedor-botones{
    text-align: center;
    margin-top: 30px;
 
}
.section2{
    width: 20%;
    background-color: #ffff;
    border-radius: 25px;
    margin-right: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.contenedor-munieco{
width: 100%;
height: 60%;
padding-top: 60px;
box-sizing: border-box;
overflow:hidden ;
}
.contenedor-h3{
width: 100%;
height: 20%;
text-align: center;
font-family: poppins;

}
.contenedor-parrafo{
width: 100%;
height: 20%;
text-align: center;
font-family: poppins;
}
.contenedor-resultado{
width: 100%;
height: 70%;
padding: 25px;
box-sizing: border-box;
font-family: poppins;

}
.contenedor-copiar{
width: 100%;
height: 20;
}
.btn-copiar{
    width: 35%;
    height: 40px;
   display: block;
   margin: auto;
   background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #ffff;
    transition: all 0.6s ease;
    z-index: 1;
}
.btn-copiar:hover{
    color: goldenrod;
}
footer {
     width: 100%;
    height: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    color: #ffff;
    
    
}

.ocultar{
    display: none;
}